:root {
  --background-alt: rgb(255, 255, 255);
  --border: rgb(255, 255, 255);
  --text: rgb(255, 255, 255);
  --text-alt: rgb(0, 0, 0);
  --shadow-color: var(--background);
  --text-shadow: -1px -1px 0 var(--shadow-color),
    1px 1px 0 var(--shadow-color),
    -1px 1px 0 var(--shadow-color),
    1px -1px 0 var(--shadow-color);
}

* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#app {
  font-family: 'DTM-Mono';
  max-width: 1372px;
  margin: 0 auto;
  position: relative;
  anchor-name: --app;
}

a, a:visited {
  color: var(--text);
}

.hidden,
img[src=""] {
    display: none;
}

.middle {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.strike {
  text-decoration: line-through;
}

.warn {
  color: red;
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
