:root {
  --background: rgb(0, 0, 0);
  --background-alt: rgb(255, 255, 255);
  --border: rgb(255, 255, 255);
  --text: rgb(255, 255, 255);
  --text-alt: rgb(0, 0, 0);
}

* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
}

#app {
  font-family: 'DTM-Mono';
  max-width: 1372px;
  margin: 0 auto;
  position: relative;
  anchor-name: --app;
}

a, a:visited {
  color: var(--text);
}

body > footer {
  position: fixed;
  bottom: 10px;
  justify-self: center;
  border: 1px solid;
  padding: 5px 7px;
  margin: auto;
  text-align: center;
  background-color: var(--background);
  cursor: default;
  border-radius: 30px;
  opacity: 0.3;
  z-index: 1000;
}

body > footer:hover {
  opacity: 1;
}

body > footer img {
  width: 16px;
  vertical-align: middle;
}

.hidden,
.template,
img[src=""] {
    display: none;
}

.middle {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.strike {
  text-decoration: line-through;
}

.warn {
  color: red;
  font-weight: bold;
}
