.settings {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.settings label,
[data-page="settings"] button:not(.hidden) {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  font: inherit;
  color: var(--text);
  background-color: rgb(31, 31, 31);
  border: 2px solid var(--border);
}

.settings label:hover,
[data-page="settings"] button:not(.hidden):hover {
  background-color: rgb(56, 56, 56);
}

.settings label {
  gap: 8px;
  text-align: left;
}

.setting::after {
  font-family: 'Material Icons';
  font-size: 20px;
  line-height: 1;
  content: 'check_box_outline_blank';
}

.setting-name {
  flex: 1;
}

input:checked + .setting::after {
  content: 'check_box';
}

[data-page="settings"] button:not(.hidden) {
  justify-content: center;
  margin-top: 16px;
}

#corrupt-cleanup {
  border-style: dashed;
}

#reset-editor {
  color: rgb(255, 130, 130);
  border-color: rgb(200, 0, 0);
}

#reset-editor:hover {
  color: var(--text);
  background-color: rgba(200, 0, 0, 0.6);
  border-color: rgb(200, 0, 0);
}
