.settings {
  margin-bottom: 5px;
}

.settings label {
  display: flex;
  gap: 5px;
}

.setting::after {
  font-family: 'Material Icons';
  content: 'check_box_outline_blank';
}

input:checked + .setting::after {
  content: 'check_box';
}

[data-page="settings"] button:not(.hidden) {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  font: inherit;
  color: var(--text);
  background-color: rgb(31, 31, 31);
  border: 2px solid var(--border);
}

[data-page="settings"] button:not(.hidden):hover {
  background-color: rgb(56, 56, 56);
}

#corrupt-cleanup {
  border-style: dashed;
}

#reset-editor {
  margin-top: 24px;
  color: rgb(255, 130, 130);
  border-color: rgb(200, 0, 0);
}

#reset-editor:hover {
  color: var(--text);
  background-color: rgba(200, 0, 0, 0.6);
  border-color: rgb(200, 0, 0);
}
