.artifact {
  border: 2px solid white;
  height: stretch;
}

.artifact > header {
  background-color: #428bca;
  padding: 15px;
}

.artifact .content {
  padding: 15px;
  min-height: 180px;
}

.artifact .image {
  float: left;
  margin-right: 5px;
}

.artifact img {
  max-width: 40px;
  max-height: 40px;
}
