[popover="hint"].tooltip {
  inset: unset;
  position: fixed;
  bottom: calc(anchor(top) + 5px);
  justify-self: anchor-center;
  margin: 0;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid var(--background);
}

[popover="hint"].tooltip.flip {
  inset: unset;
  top: calc(anchor(bottom) + 5px);
}
