#breadbox {
  position-anchor: --app;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: fixed;
  white-space: pre-wrap;
  bottom: 5px;
  right: 0;
  right: anchor(right);
  z-index: 100;
}

#breadbox .toast {
  background-color: rgba(8, 25, 77, 0.6);
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 300px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

#breadbox .toast.error {
  background-color: rgba(200, 0, 0, 0.6);
}

#breadbox .toast:popover-open {
  display: block;
}

#breadbox .toast header {}

#breadbox .toast div {}

#breadbox .toast footer {}
