:root {
  --spacing: 10px;
}

input, textarea {
  -webkit-user-select: text;
  user-select: text;
}

#editor {
  font-family: 'DTM-Mono';
  background-color: var(--background);
  border: 2px solid var(--border);
  border-radius: 15px;
  padding: 0;
  color: var(--text);
}

#editor::backdrop {
  backdrop-filter: blur(3px);
}

#editor input,
#editor textarea {
  width: stretch;
}

.editor-wrapper {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr fit-content(700px);
}

.editor-wrapper > header {
  color: var(--text-alt);
  background-color: var(--background-alt);
  padding: 5px var(--spacing);
  grid-column: 1 / -1;
}

.editor-wrapper > .helper {
  border-left: 2px solid var(--border);
  padding: var(--spacing);
  text-align: center;
}

.editor-wrapper > .preview {
  margin: var(--spacing);
}

#editor:not([data-type="card"]) .editor-wrapper > .helper,
.editor-wrapper > .extended {
  border: 0;
  border-top: 2px solid var(--border);
  grid-column: 1 / -1;
  padding: var(--spacing);
}

#editor[data-type="group"] .preview,
#editor[data-type="text"] .preview,
.editor-wrapper > .extended {
  grid-column: 1 / -1;
}

.editor-wrapper > .extended {
  position: sticky;
  bottom: 0;
  background-color: var(--background);
}

#editor .group {
  margin-bottom: unset;
}

#editor [data-editable] {
  min-height: 16px;
  min-width: 16px;
}

#editor .artifact .image {
  height: 40px;
  width: 40px;
}

#editor .description {
  min-height: 40px;
}

/* TODO: Change effects/tribes to placeholder image */
#editor [data-editable="effects"]:empty,
#editor [data-editable="tribes"]:empty,
#editor [data-editable]:hover,
.editable {
  border: 1px solid red;
}

#editor[data-type="group"] .content,
#editor [data-editing],
#editor fieldset.soul,
#editor [data-type] {
  display: none;
}

#editor[data-type="group"] .group {
  margin-bottom: unset;
}

#editor .active {
  display: inline;
}

.extra {
  display: none;
}

.show-extra .extra {
  display: unset;
}

#editor legend {
  text-transform: uppercase;
}

.helper [data-editing="tribes"] div:first-of-type {
  display: flex;
}
