a, a:visited {
  color: white;
}

.cardBoard input[type=number]::-webkit-outer-spin-button,
.cardBoard input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cardBoard input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* DnD */
.dragging {
  opacity: 0.25;
  -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms-transform:scale(0.5);
  transform:scale(0.5);
}

.draggable-mirror {
  z-index: 2000;
  opacity: 0.8;
}

.cards[tabindex]:not(.draggable-container--over):focus {
  outline: none;
}

.cards.draggable-container--over {
  outline: -webkit-focus-ring-color auto 5px;
}

.editor-wrapper {
  z-index: 100;
}
