name: Deploy to Firebase Hosting on merge
on:
  workflow_call:
    secrets:
      FIREBASE_SERVICE_ACCOUNT_UNDERCARD_509BA:
        description: 'Firebase Service Account'
        required: true
      GITHUB_TOKEN:
        description: 'Github Token'
        required: true
  push:
    branches:
      - master
    paths:
      - 'public/**'
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_UNDERCARD_509BA }}'
          channelId: live
          projectId: undercard-509ba
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
